#!/usr/bin/make -f
# debian/rules for Moodle package.
# Copyright 2010 Tomasz Muras <tomasz@muras.eu>

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export SHELL = /bin/bash

VERSION := $(shell head -1 debian/changelog | sed 's/.*(//;s/).*//')
UPSTREAM   := $(shell head -1 debian/changelog | sed 's/.*(//;s/-.?*).*//')
MAINTAINER := $(shell grep ^Maintainer: debian/control | sed 's/^Maintainer: //')

binary:
	dh binary-indep --before dh_lintian
	#remove unnecessary licence files
	rm debian/moodle/usr/share/moodle/lib/adodb/license.txt
	rm debian/moodle/usr/share/moodle/lib/editor/tinymce/tiny_mce/3.3.9.2/license.txt
	rm debian/moodle/usr/share/moodle/lib/bennu/LICENSE.txt
	rm debian/moodle/usr/share/moodle/lib/phpmailer/LICENSE
	rm debian/moodle/usr/share/moodle/lib/simpletestlib/LICENSE
	rm debian/moodle/usr/share/moodle/search/Zend/LICENSE.txt
	rm debian/moodle/usr/share/moodle/lib/smarty/COPYING.lib
	rm debian/moodle/usr/share/moodle/lib/pear/HTTP/WebDAV/COPYING
	rm debian/moodle/usr/share/moodle/lib/pear/HTTP/WebDAV/LICENSE
	rm debian/moodle/usr/share/moodle/filter/mediaplugin/flvplayer.README.txt
	
	#remove unnecessary files
	rm debian/moodle/usr/share/moodle/filter/tex/*mimetex*
	rm debian/moodle/usr/share/moodle/mod/chat/chatd.php
	find debian/moodle -type f -name .cvsignore -delete
	
	#fix permissions
	find debian/moodle/usr -type f -exec chmod 644 {} \;
	find debian/moodle/usr -type d -exec chmod 755 {} \;
	chmod 755 debian/moodle/usr/share/moodle/admin/mailout-debugger.php
	chmod 755 debian/moodle/usr/share/moodle/filter/algebra/algebra2tex.pl
	chmod 755 debian/moodle/usr/share/moodle/admin/process_email.php
	
	#un-bundle libraries
	rm -r debian/moodle/usr/share/moodle/lib/smarty
	rm -r debian/moodle/usr/share/moodle/lib/yui
	
	#remove developer tools
	rm -r debian/moodle/usr/share/moodle/lib/editor/tinymce/extra/tools
	rm -r debian/moodle/usr/share/moodle/lib/pear/PHP
	
	dh binary-indep --remaining
	
%:
	dh $@
