#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

build:

clean: clean1 unpatch
clean1:
	dh_testdir
	dh_testroot

	dh_clean 

install: patch-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	dh_install -pmoodle debian/moodle-reconfigure-required.update-notifier usr/share/moodle

# Build architecture-dependent files here.
binary-arch: install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installcron
	
	rm debian/moodle/usr/share/moodle/lib/adodb/license.txt
	rm debian/moodle/usr/share/moodle/lib/editor/htmlarea/license.txt
	rm debian/moodle/usr/share/moodle/lib/editor/tinymce/jscripts/tiny_mce/license.txt
	rm debian/moodle/usr/share/moodle/lib/bennu/LICENSE.txt
	rm debian/moodle/usr/share/moodle/lib/phpmailer/LICENSE
	rm debian/moodle/usr/share/moodle/lib/simpletestlib/LICENSE
	rm debian/moodle/usr/share/moodle/search/Zend/LICENSE.txt
	rm debian/moodle/usr/share/moodle/lib/smarty/COPYING.lib
	rm debian/moodle/usr/share/moodle/lib/pear/HTTP/WebDAV/COPYING
	rm debian/moodle/usr/share/moodle/lib/pear/HTTP/WebDAV/LICENSE

	find debian/moodle/usr -type f -exec chmod 644 {} \;
	find debian/moodle/usr -type d -exec chmod 755 {} \;
	chmod 755 debian/moodle/usr/share/moodle/mod/chat/chatd.php
	chmod 755 debian/moodle/usr/share/moodle/admin/mailout-debugger.php
	rm debian/moodle/usr/share/moodle/mod/chat/chatd.php
	chmod 755 debian/moodle/usr/share/moodle/mod/wiki/ewiki/fragments/mkhuge
	chmod 755 debian/moodle/usr/share/moodle/filter/algebra/algebra2tex.pl
	chmod 755 debian/moodle/usr/share/moodle/admin/process_email.php
	rm debian/moodle/usr/share/moodle/filter/tex/*mimetex*
	rm debian/moodle/usr/share/moodle/admin/delete.php
	rm debian/moodle/usr/share/moodle/mod/wiki/ewiki/fragments/mkhuge
	rm debian/moodle/usr/share/moodle/search/.cvsignore
	rm -rf debian/moodle/usr/share/moodle/lib/editor/htmlarea/plugins/SpellChecker

	rm -rf debian/moodle/usr/share/moodle/lib/smarty

	dh_lintian
	dh_installdebconf
	dh_link
	dh_compress
	dh_fixperms

	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb -- -Z bzip2

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch clean1
